/* noto-sans-regular */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/noto-sans/noto-sans-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans-Normal'),
       url('//lib.baomitu.com/fonts/noto-sans/noto-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/noto-sans/noto-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/noto-sans/noto-sans-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/noto-sans/noto-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/noto-sans/noto-sans-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

body
  background-color $bgColor
  grid()
  font-family "Noto Sans", helvetica, sans-serif
  letter-spacing 0.03rem
  font-weight lighter
  color $color
  letter-spacing 0.1rem
  font-weight 300